* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --surface-color: #f0e8c2;
}


body {
  font-family: Alice;
  background-image: url("./assets/bg-image.png");
  background-size: cover;
  background-position: center;
}



#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--surface-color, #f0e8c2);
  width: 800px;
  padding: 24px;
  margin: 48px auto;
  border-radius: 16px;
}
img {
  max-width: 800px;
  border-radius: 16px;
  margin: 24px;
}
.time-preparation{
    column-count:3 ;
}
#about {
  font-size: 16px;

}
p{
    margin:10px
}
#ingredients {
  font-size: 16px;
  margin: 10px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 600px;
  gap: 20px;
  width: 100%;
  margin-left: 24px;
}

#preparation{
    text-align: justify;
    display: flex;
    flex-direction: column;
  
   
}

footer{
    text-align: center;
   
}
footer a {
     text-decoration: none;
     color: black;
}
footer a:hover{
    text-decoration: underline;
    color:rgb(1, 41, 28)
}