* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: Alice;
    line-height: 24px;
}
:root {
  --surface-color: #f0e8c2;
}


body {
  background-image: url("./assets/bg-image.png");
  background-size: cover;
  background-position: center;

}



#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--surface-color, #f0e8c2);
  max-width: 100%;
  padding: 24px;
  margin: 48px auto;
  margin:10px;
  border-radius: 16px;
}
img {
  max-width:100%;
  border-radius: 16px;
  margin: 24px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 max-width: 600px;
 
}
.title{
    font-size: 40px;
    line-height: 140%;
}
.time-preparation{
    column-count:3 ;
}
#about {
  font-size: 16px;

}
p{
    margin:10px
}
#ingredients {
  font-size: 16px;
  margin: 10px;
}



#preparation{
    text-align: justify;
    display: flex;
    flex-direction: column;
   
}

footer{
    text-align: center;
   
}
footer a {
     text-decoration: none;
     color: black;
}
footer a:hover{
    text-decoration: underline;
    color:rgb(1, 41, 28)
}